@page "/UserControl"

@using Frontend.Helpers
@attribute [StreamRendering]
@inject ApiHelper ApiHelper

<PageTitle>User Control</PageTitle>

<h3>User Control</h3>

@if (Users == null)
{
    <p>Loading...</p>
}
else
{
    <table class="table table-striped" style="width: 100%;">
        <thead> 
        <tr>
            <th scope="col">Email</th>
            <th scope="col" style="text-align: right;">Action</th>
        </tr>
        </thead>
        <tbody>
            @foreach (var user in Users)
            {
                <tr>
                    <td>@user.Email</td>
                    <td style="text-align: right;">
                        <button type="button" class="btn btn-success" onclick="logUser('@user.UserId')">Log in</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<UserDto> Users;

    protected override async Task OnInitializedAsync()
    {
        Users = await  ApiHelper.GetFromApiAsync<List<UserDto>>("usersdois");
    }

    public class UserDto
    {
        public Guid UserId { get; set; }
        public string Email { get; set; }
    }
}