.card {
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 30px;
    width: 100%;
}

.rounded-circle {
    border-radius: 50%;
}

.wine-preferences {
    margin-top: 50px;
    width: 100%;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.wine-preferences h2 {
    text-align: center;
    color: #1b6ec2; /* Cor do título */
    margin-bottom: 30px;
}

.form-group {
    margin-bottom: 20px;
}

.form-control-lg {
    font-size: 1.25rem;
    padding: 0.75rem 1.5rem;
}
