@page "/profilepage"

@* Importar Bootstrap *@
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
@* Importar CSS personalizado *@
<link rel="stylesheet" href="Pages/Profile/profilepage.css" />

            <div class="card-body">
                <div class="d-flex align-items-center">
                    <div class="ml-4">
                    </div>
                </div>
            </div>
        </div>

                <hr />
                <div class="form-group">
                    <label for="wineName">Vinho</label>
                </div>
                <div class="form-group">
                    <label for="region">Região</label>
                </div>
                <div class="form-group">
                    <label for="brand">Marca</label>
                </div>
                <div class="form-group">
                    <label for="grapeType">Tipo de Uva</label>
        </div>
    </div>
</div>
