body {
    font-family: 'Poppins', sans-serif;
    background: #f8f9fa;
}

.wrapper {
    display: flex;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #7386D5;
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -200px;
}

#sidebar .custom-menu {
    position: absolute;
    top: 10px;
    right: -20px;
    padding: 10px;
}

#sidebar .p-4 {
    padding: 20px;
}

#sidebar .logo {
    font-weight: 600;
    margin-bottom: 10px;
}

#sidebar ul.components {
    padding: 0;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li {
    padding: 10px;
    font-size: 16px;
    display: block;
}

#sidebar ul li a {
    color: #fff;
    display: block;
}

#sidebar ul li a:hover {
    background: #6d7fcc;
    text-decoration: none;
}

#sidebar ul li.active > a {
    background: #6d7fcc;
    color: #fff;
}

#sidebar ul.CTAs {
    padding: 20px;
}

#sidebar ul.CTAs a {
    text-align: center;
    font-size: 16px;
    display: block;
    border-radius: 5px;
    margin-bottom: 10px;
}

#sidebar ul.CTAs a.download {
    background: #fff;
    color: #7386D5;
}

#sidebar ul.CTAs a.download:hover {
    background: #6d7fcc;
    color: #fff;
}

#sidebar ul.CTAs a.article {
    background: #6d7fcc;
    color: #fff;
}

#sidebar ul.CTAs a.article:hover {
    background: #7386D5;
    color: #fff;
}

#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}