@page "/counter"
@rendermode InteractiveServer

<PageTitle>Counter</PageTitle>

<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-6 text-center">
            <h1 class="mb-3">Counter</h1>
            <p role="status" class="lead">Current count: @currentCount</p>

            <div class="progress mb-3">
                <div class="progress-bar" role="progressbar" style="width: @currentCount%;" aria-valuenow="@currentCount" aria-valuemin="0" aria-valuemax="100">@currentCount%</div>
            </div>

            <button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
        </div>
    </div>
</div>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        if (currentCount < 100)
        {
            currentCount++;
        }
    }
}