.post {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 10px;
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
}

.post-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.profile-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.post-info {
    flex-grow: 1;
    margin-left: 10px;
}

.post-author {
    font-weight: bold;
}

.post-meta {
    margin-top:0.5mm;
    font-size: 0.85em;
    color: #6f6f6f;
}