@page "/Feed"
@using Frontend.Helpers
@using global::Helpers.ViewModels
@rendermode InteractiveServer
@attribute [StreamRendering]
@inject ApiHelper ApiHelper
<h3>Feed</h3>
<div>
    <p>Criar novo post</p>
    <input @bind="_newPost"/>
    <button @onclick="CreatePost">Add To Do</button>
</div>
<div>
    @foreach (var p in _feedPosts.FeedPosts)
    {
        <Post postline="p"/>
    }
</div>

@code{
    private FeedPost _newPost = new FeedPost();
    private FeedPostList _feedPosts = new FeedPostList();
    protected override async Task OnInitializedAsync()
    {
        _feedPosts = await ApiHelper.GetFromApiAsync<FeedPostList>("api/Post/index");
    }
    
    private void CreatePost()
    {
        
    }

}