@page "/Feed"
@using Frontend.Helpers
@using global::Helpers.ViewModels
@rendermode InteractiveServer
@attribute [StreamRendering]
@inject ApiHelper ApiHelper
<h3>Feed</h3>
<div>
    <p>Criar novo post</p>
    <input @bind="_newPost"/>
    <button @onclick="CreatePost">Add To Do</button>
</div>
<div>
    @if (_feedPosts.Posts.Count == 0)
    {
        <h4>Não há posts</h4>
    }
    else
    {
        <h4>@_feedPosts.Posts.Count()</h4>
        @foreach (FeedPost p in _feedPosts.Posts)
        {
            <p>@p.Text</p>
            <Post PostLine=@p/>
        }
    }
</div>