@page "/login"

<body>
    <div class="mb-3">
        <h2>Login</h2>
        <form action="/submit_login" method="POST">
            <div class="mb-2">
                <label for="email" class="form-label">Email:</label>
                <input type="email" id="email" name="email" required class="form-control">
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password:</label>
                <input type="password" id="password" name="password" required class="form-control">
            </div>
            <button type="button" class="position-relative py-2 px-4 text-bg-secondary border border-secondary rounded-pill">
              Login 
            </button>
            <div class="mb-3">
                <a href="register">Não tens conta? Cria agora!</a>
            </div>
        </form>
    </div>
</body>
