@page "/Post"

@using global::Helpers.ViewModels
<div>
    <hr/>
    <p>@post.Creator.email</p>
    <p>@post.Text</p>
    <p></p>
</div>

@code
{
    [Parameter] 
    public FeedPost post { get; set; }
}
