@page "/Post"

@using global::Helpers.ViewModels
<div>
    <hr/>
    <p>@postline.Creator.email</p>
    <p>@postline.Text</p>
    <p></p>
</div>

@code
{
    [Parameter] 
    public FeedPost postline { get; set; }
}
