.post {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 10px;
    max-width: 600px;
    margin: 0 auto; 
}

.post-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 8px;
}

.profile-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.post-info {
    flex-grow: 1;
    margin-left: 10px;
}

.post-author {
    font-weight: bold;
}

.post-meta {
    margin-top:0.5mm;
    font-size: 0.85em;
    color: #777;
}

.post-menu {
    position: relative;
}

.menu-button {
    background-color: #ffffff;
    color: black;
    border-radius: 10px;
    margin-top: 0.8px;
    border: 1px solid black;
    font-size: 1.5em;
    cursor: pointer;
}