@page "/Post"

@using global::Helpers.ViewModels

<div class="post">
    <div class="post-header">
         <img src="avatar.jpg" alt="Profile Image" class="profile-image" />
        <div class="post-info">
            <div class="post-author">@PostLine.Creator</div>
            <div class="post-meta">@PostLine.DateTimePost · @PostLine.VisibilityType</div>
        </div>
        <div class="post-menu">
            <button class="menu-button">
                <span class="dot"></span>
                <span class="dot"></span>
                <span class="dot"></span>
            </button>
        </div>
    </div>
    <div class="post-content">
        @PostLine.Text
    </div>
</div>


@code{
  
    [Parameter] public FeedPost PostLine { get; set; } = new FeedPost();

}