@page "/register"
@using System.ComponentModel.DataAnnotations
@using Frontend.Services
@inject NavigationManager NavigationManager
@inject UserService UserService

<div class="container">
    <h2>User Registration</h2>
    
    <EditForm Model="@newUser" OnValidSubmit="HandleValidSubmit">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <div class="mb-3">
            <label for="firstName" class="form-label">First Name:</label>
            <InputText id="firstName" class="form-control" @bind-Value="newUser.FirstName" />
        </div>
        <div class="mb-3">
            <label for="lastName" class="form-label">Last Name:</label>
            <InputText id="lastName" class="form-control" @bind-Value="newUser.LastName" />
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email:</label>
            <InputText id="email" class="form-control" @bind-Value="newUser.Email" />
        </div>
        <div class="mb-3">
            <label for="address" class="form-label">Address:</label>
            <InputText id="address" class="form-control" @bind-Value="newUser.Address" />
        </div>
        <div class="mb-3">
            <label for="birthdayDate" class="form-label">Birthday Date:</label>
            <InputDate id="birthdayDate" class="form-control" @bind-Value="newUser.BirthdayDate" />
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password:</label>
            <InputText id="password" type="password" class="form-control" @bind-Value="newUser.Password" />
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </EditForm>
</div>

@code {
    private UserDto newUser = new UserDto();

    private async Task HandleValidSubmit()
    {
        try
        {
            var success = await UserService.Create(newUser);
            if (success)
            {
                NavigationManager.NavigateTo("/login");
            }
            else
            {
                Console.WriteLine("Registration failed");
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine($"An error occurred: {ex.Message}");
        }
    }
    
}
