@page "/UserSss"

@using Frontend.Helpers
@attribute [StreamRendering]
@inject ApiHelper ApiHelper
@inject IJSRuntime JSRuntime

@inject ProtectedSessionStorage ProtectedSessionStorage

<h3>Selected User ID:</h3>
<p>@SelectedUserId</p>

@code {
    private string SelectedUserId;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            // Recuperar o ID do usuário da sessão
            var result = await ProtectedSessionStorage.GetAsync<string>("selectedUserId");
            SelectedUserId = result.Value;

            // Atualizar o estado do componente após recuperar o ID
            StateHasChanged();

            // Chamar método JavaScript interop para imprimir o ID no console
            await JSRuntime.InvokeVoidAsync("console.log", SelectedUserId);
        }
    }
}