@page "/UserControl"

@using Frontend.Helpers
@attribute [StreamRendering]
@inject ApiHelper ApiHelper

@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@inject HttpClient HttpClient
@inject NavigationManager NavigationManager
@inject ProtectedSessionStorage ProtectedSessionStorage

<PageTitle>User Control</PageTitle>

<h3>User Control</h3>

@if (Users == null)
{
    <p>Loading...</p>
}
else
{
    <ul>
        @foreach (var user in Users)
        {
            <li>
                <button type="button" onclick="selectUser('@user.UserId')"> @user.Email</button>
            </li>
        }
    </ul>
    
    <script src="js/userControl.js"></script>
}

@code {
    private List<UserDto> Users;

    protected override async Task OnInitializedAsync()
    {
        Users = await  ApiHelper.GetFromApiAsync<List<UserDto>>("usersdois");
    }

    public class UserDto
    {
        public Guid UserId { get; set; }
        public string Email { get; set; }
    }
}