@page "/vinhotinder"
@using Frontend.Helpers
@attribute [StreamRendering]
@inject ApiHelper ApiHelper

<style>
    .container {
        background-color: lightblue;
        width: 100%;
        height: 90vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .card-container {
        position: relative;
        width: 300px;
        height: 600px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #swiper {
        aspect-ratio: 2/3;
        perspective: 1000px;
        perspective-origin: center 50%;
        transform-style: preserve-3d;
    }

    .card {
        position: absolute;
        width: 100%;
        height: 70%;
        border-radius: 15px;
        overflow: hidden;
        filter: drop-shadow(0px 0px 10px #454545);
        background-color: #fff;
        transform: translateZ(calc(-20px * var(--i)))
                    translateY(calc(-5px * var(--i)))
                    rotate(calc(-3deg * var(--i)));
        cursor: pointer;
        user-select: none;
    }

    .card-image {
        width: 100%;
        height: 80%;
        object-fit: cover;
    }

    .card-headers {
        display: flex;
        justify-content: space-around;
        padding: 10px;
    }

    .card-header {
        font-size: 1.2em;
        margin: 0;
        background-color: #fff;
    }
</style>

<PageTitle>Vinho tinder</PageTitle>

<div class="container" id="borders">
    @if (_vinhos == null)
    {
        <p>
            <em>Carregando...</em>
        </p>
    }
    else
    {

        <div class="card-container" id="swiper">
            @{
                var index = 0;
            }
            @foreach (var wine in _vinhos)
            {
                <div class="card" style="--i: @index">
                    <img src="favicon.png" alt="@wine.Tipo" class="card-image"/>
                    <div class="card-headers">
                        <h3 class="card-header">@wine.Name</h3>
                        <h3 class="card-header">@wine.Tipo</h3>
                    </div>
                    
                </div>

                index++;
            }
        </div>
    }
</div>

<script src="js/swiper.js"></script>

@code {
    private List<VinhoViewModel> _vinhos;

    protected override async Task OnInitializedAsync()
    {
        _vinhos = await ApiHelper.GetFromApiAsync<List<VinhoViewModel>>("vinho");
    }

    public class VinhoViewModel
    {
        public string Name { get; set; }
        public int Tipo { get; set; }
    }

    private void DislikeVinho(VinhoViewModel vinho)
    {
        // Implemente a lógica para desgostar o vinho
    }

    private void LikeVinho(VinhoViewModel vinho)
    {
        // Implemente a lógica para gostar do vinho
    }

    private void LoveVinho(VinhoViewModel vinho)
    {
        // Implemente a lógica para amar o vinho
    }
}
